.additional-catalog__title {
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  background-color: $main-background;
}

.additional-catalog__list {
  list-style: none;
}

.products-list__item {
  border-top: 1px solid $border-light;
}

.products-list__item:last-child {
  border-bottom: 1px solid $border-light;
}

.products-item__title {
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: $color-text-title;
}

.products-item__row {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  color: $paragraph-light;
}
