.before-after {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  background: $additional-background;
}

.before-after__result {
  padding-top: 25px;
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  text-transform: none;
}

.before-after__text {
  margin: 0 0 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: none;
  color: $paragraph-light;
}

.before-after__stats {
  margin: 0 0 33px;
  width: 280px;
}

.before-after__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.before-after__item {
  width: 121px;
  text-align: center;
  padding: 13px 0 18px;
  border: 1px solid $radio-border;
  border-radius: 5px;
  position: relative;
}

.before-after__number {
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.before-after__description {
  width: 57px;
  left: 16px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $paragraph-light;
  margin: 0 auto;
  text-transform: lowercase;
  position: absolute;
  bottom: -15px;
  background-color: $additional-background;
  padding: 1px 16px;
}

.before-after__expenses {
  margin: 0 0 42px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.before-after__switch {
  margin: 0 0 45px;
}

.before-after__image {
  min-width: 310px;
  height: 229px;
  margin: 0 0 18px -15px;
}

.before-after__block {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.before-after__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.before-after__progress {
  width: 70px;
  height: 7px;
  padding: 3px 5px;
  border: 1px solid $radio-border;
  border-radius: 10px;
  background-color: $main-background;
}

.before-after__range {
  display: none;
}

.before-after__toggle {
  width: 50%;
  height: 7px;
  border-radius: 10px;
  background-color: $color-bottom;
}

@media (min-width: $tablet-width) {
  .before-after {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 576px;
      left: 0;
      right: 0;
      height: 100%;
      background: $background-light;
      z-index: -1;
    }
  }

  .before-after__result {
    margin: 0 0 65px;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding: 0;
  }

  .before-after__text {
    max-width: 700px;
    margin: 0 0 51px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .before-after__stats {
    width: 366px;
    margin-bottom: 85px;
  }

  .before-after__wrapper {
    width: 709px;
    margin-bottom: 54px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .before-after__example {
    width: 707px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .before-after__item {
    padding: 16px 0 18px;
    width: 160px;
  }

  .before-after__expenses {
    width: 185px;
    margin: 0;
    padding-top: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .before-after__value {
    line-height: 36px;
  }

  .before-after__switch {
    min-width: 708px;
    margin: 0 0 5px;
  }

  .before-after__image {
    width: 591px;
    height: 514px;
    margin: 0 0 24px;
  }

  .before-after__number {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
  }

  .before-after__description {
    top: 60px;
    left: 8px;
    width: 128px;
    padding: 2px 8px;
    font-style: 400;
    font-size: 14px;
    line-height: 14px;
    background-color: $main-background;
  }

  .before-after__block {
    width: 571px;
    position: relative;
  }

  .before-after__button {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    border-bottom: 1px dotted $paragraph-light-active;

    &:hover {
      border-bottom: 1px solid $paragraph-light-active;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }

  .before-after__progress {
    padding: 0;
    width: 426px;
    height: 6px;
    background-color: $toggle-light;
    border: none;
  }

  .before-after__toggle {
    content: "";
    position: relative;
    width: 34px;
    height: 34px;
    top: -15px;
    left: 200px;
    background-color: $main-background;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid $radio-border;
    box-shadow: 0 1px 3px 0 $color-text-active;

    &:hover {
      box-shadow: 0 2px 4px 0 $color-text-active;
    }

    &:active {
      box-shadow: 0 3px 5px 0 $color-text-active;
      border: 1px solid $color-bottom;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 8px;
      height: 8px;
      top: 13px;
      left: 13px;
      border-radius: 50%;
      cursor: pointer;
      background-color: $color-bottom;
    }
  }

  .before-after__toggle:focus {
    outline: 1px solid $color-bottom;
  }
}

@media (min-width: $desktop-width) {
  .before-after {
    margin: 0 0 33px;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .before-after::before {
    content: "";
    position: absolute;
    top: 135px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: $background-light;
    z-index: -1;
  }

  .before-after__wrapper-desktop {
    width: 430px;
    display: flex;
    flex-direction: column;
  }

  .before-after__result {
    margin-bottom: 146px;
    padding: 0;
  }

  .before-after__text {
    margin-bottom: 70px;
    width: 435px;
  }

  .before-after__wrapper {
    width: 1221px;
    margin-bottom: 0;
    flex-wrap: wrap;
  }

  .before-after__expenses {
    margin-bottom: 34px;
    width: 435px;
    text-align: left;
  }

  .before-after__block {
    position: relative;
    left: 62px;
    width: 573px;
  }

  .before-after__image {
    position: relative;
    top: -46px;
    left: 60px;
    margin: 0 0 -20px;
  }

  .before-after__description {
    background-color: $background-light;
    left: 8px;
    width: 127px;
    padding: 2px 7px;
  }

  .before-after__progress {
    width: 418px;
  }

  .before-after__stats {
    width: 367px;
    margin: 0 0 39px;
  }

  .before-after__value {
    padding-left: 59px;
  }

  .before-after__toggle {
    left: 190px;
  }
}
