.button {
  padding: 10px 70px;
  color: $main-background;
  background: $color-bottom;

  &:hover {
    background: $color-bottom-hover;
  }

  &:active {
    color: $color-text-light;
    background: $color-bottom-hover;
  }

  &--muted {
    color: $paragraph-light;
    background-color: $background-light;
  }

  &--muted:hover {
    background-color: $bottomcatalog-hover;
  }

  &--muted:active {
    color: $paragraph-light-active;
    background-color: $bottomcatalog-hover;
  }
}
