.button {
  padding: 7px 77px;
  color: $main-background;
  background: $color-bottom;

  &:hover {
    background: $color-bottom-hover;
  }

  &:active {
    color: $color-text-light;
    background: $color-bottom-hover;
  }
}
