.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 9px 72px 10px;
  color: $main-background;
  background: $color-bottom;

  &:hover {
    background: $color-bottom-hover;
  }

  &:active {
    color: $color-text-light;
    background: $color-bottom-hover;
  }

  &--muted {
    color: $paragraph-light;
    background-color: $background-light;
  }

  &--muted:hover {
    background-color: $bottomcatalog-hover;
  }

  &--muted:active {
    color: $paragraph-light-active;
    background-color: $bottomcatalog-hover;
  }
}
