.catalog {
  width: 100%;
}

.catalog__list {
  padding: 0;
  margin: 0 0 24px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog__item {
  border-top: 1px solid $border-light;
}

.catalog__wrapper {
  padding: 20px 20px 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item:last-child {
  border-bottom: 1px solid $border-light;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 708px;
    margin: 0 auto;
  }

  .catalog__list {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    margin-top: 150px;
    border: none;
    background: $background-light;
  }

  .catalog__wrapper {
    position: relative;
    padding: 128px 39px 35px;
    width: 246px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
    margin-bottom: 85px;
  }

  .catalog__list {
    padding: 0;
  }

  .catalog__wrapper {
    padding: 180px 40px 35px;
    width: 165px;
  }
}
