.categories {
  text-align: left;
}

.categories__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.categories__item {
  padding: 20px 20px 22px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $background-light;
}

.categories__title {
  padding-left: 69px;
  padding-top: 9px;
  margin: 0 0 30px;
  font-family: "Oswald","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
}

.categories__text {
  margin: 0 0 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: $paragraph-light;
}

.categories__slimming {
  background-image: url("../img/slimming.svg");
  background-repeat: no-repeat;
  background-position: 10% 10%;
}

.categories__weight-gain {
  background-image: url("../img/weight-gain.svg");
  background-repeat: no-repeat;
  background-position: 6% 11%;
}

.categories__link {
  width: 102px;
  font-family: "Oswald","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  left: -1px;
  position: relative;
  padding-top: 21px;
  color: $color-text;
  border-top: 1px solid $border-darker;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 102px;
    width: 50px;
    height: 15px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
  }
}

.categories__link:hover {
  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 102px;
    width: 50px;
    height: 15px;
    background-image: url("../img/arrow-big.svg");
    background-repeat: no-repeat;
  }
}

.categories__link:active {
  color: $color-text-active;

  &::before {
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    margin-bottom: 47px;
  }

  .categories__list {
    margin: 0;
    padding: 0;
  }

  .categories__item {
    padding: 78px 49px 49px 53px;
    margin-bottom: 30px;
    background-color: $background-light;
  }

  .categories__title {
    padding: 0;
    margin: 0 0 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  .categories__text {
    margin: 0 0 37px;
    padding-right: 265px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .categories__slimming {
    background-image: url("../img/slimming-tablet.svg");
    background-repeat: no-repeat;
    background-position: 88% 50%;
  }

  .categories__weight-gain {
    background-image: url("../img/weight-gain-tablet.svg");
    background-repeat: no-repeat;
    background-position: 94% 54%;
  }

  .categories__link {
    width: 127px;
    top: -6px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    border-top: none;
    background-position: 23% 75%;

    &::before {
      top: 29px;
      left: 133px;
    }
  }

  .categories__link:hover {
    &::before {
      top: 29px;
      left: 129px;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories {
    margin-bottom: 6px;
  }

  .categories__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__item {
    margin: 0 0 65px;
    padding: 77px 5px 51px 53px;
    width: 512px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .categories__slimming {
    background-image: url("../img/slimming-desktop.svg");
    background-repeat: no-repeat;
    background-position: 11% 15%;
  }

  .categories__weight-gain {
    background-image: url("../img/weight-gain-desktop.svg");
    background-repeat: no-repeat;
    background-position: 8% 17%;
  }

  .categories__link {
    background-position: 28% 75%;

    &::before {
      left: 136px;
    }
  }

  .categories__title {
    margin: 0 0 74px;
    text-align: center;
  }

  .categories__title-slimming {
    margin-right: 27px;
  }

  .categories__title-gain {
    margin-left: 14px;
  }

  .categories__text {
    padding-right: 40px;
    margin: 0 0 12px;
  }
}
