.contacts {
  min-width: 320px;

  &--background {
    background: $background-light;
  }
}

.contacts__cooperation {
  padding: 25px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__title {
  width: 40%;
  margin: 0;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.contacts__address {
  width: 50%;
  margin: 0;
  text-align: left;
}

.contacts__address-text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: $paragraph-light;
}

.contacts__map {
  width: 100%;
  height: 362px;
  display: block;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.contacts__map-google {
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .contacts {
    background-color: $main-background;

    &--background {
      background: $background-light;
    }
  }

  .contacts__cooperation {
    padding: 13px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .contacts__title {
    padding: 25px 40px;
    width: 25%;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    padding: 45px 40px;
    width: 24%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__address-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    &--street {
      margin: 0 0 20px;
    }
  }

  .contacts__map {
    height: 400px;
    display: block;
    background-image: url("../img/map-tablet.jpg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__cooperation {
    margin: 0;
    padding: 13px 19px;
    justify-content: space-evenly;
    background-color: $main-background;
    position: absolute;
    left: 110px;
    top: 95px;
    width: 526px;
    z-index: 2;
  }

  .contacts__title {
    width: 29%;
  }

  .contacts__address {
    width: 30%;
    text-align: left;
  }

  .contacts__map {
    height: 400px;
    display: block;
    background-image: url("../img/map-desktop.jpg");
    background-repeat: no-repeat;
  }
}
