.copyright__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: $paragraph-light;
}

.copyright__link:active {
  color: $color-text-active;
}

.copyright__link:hover svg path {
  fill: $color-bottom;
}

.copyright__link:active svg path {
  fill: $color-bottom-active;
}
