.copyright__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.copyright__link {
  text-transform: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: $paragraph-light;
}

.copyright__link:active {
  color: $color-text-active;
}

.copyright__link:hover svg {
  fill: $color-bottom;
}

.copyright__link:active svg {
  fill: $color-bottom-active;
}

.copyright__icon {
  fill: $paragraph-light;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: $paragraph-light;
  }

  .copyright__text {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link {
    justify-content: flex-end;
  }

  .copyright__text {
    padding-right: 23px;
  }
}
