.form__fieldset {
  padding: 0;
  margin: 0 0 30px;
  border: none;

  &--border {
    padding: 30px 0;
    border-top: 1px solid $bottomcatalog-hover;
    border-bottom: 1px solid $bottomcatalog-hover;
  }
}

.form__fieldset-wrapper {
  padding: 20px;
}

.form__block-button {
  margin-bottom: 25px;
}

.form__button {
  width: 100%;
  border: none;
  margin-bottom: 15px;
}

.form__necessarily {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: $color-text;
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    &--border {
      min-width: 628px;
      margin-left: 65px;
      margin-right: 70px;
      border: 1px solid $bottomcatalog-hover;
    }
  }

  .form__fieldset-wrapper {
    padding: 20px 70px;

    &--changes-radio {
      padding: 5px 35px;
    }
  }

  .form__block-button {
    padding: 20px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .form__button {
    width: 244px;
    padding: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 0px;
    text-transform: uppercase;
  }

  .form__necessarily {
    padding-left: 115px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset {
    &--border {
      min-width: 568px;
      height: 185px;
      padding: 0;
      margin: 0;
      border: 1px solid $bottomcatalog-hover;
    }
  }

  .form__fieldset-changes {
    padding: 20px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__fieldset-wrapper {
    padding: 20px 120px;

    &--changes-form {
      width: 567px;
      padding: 0;
    }

    &--changes-radio {
      width: 523px;
      padding: 17px 22px;
    }
  }

  .form__block-button {
    padding: 20px 120px;
  }

  .form__button {
    width: 568px;
  }
}
