.form__fieldset {
  padding: 0;
  margin: 0 0 27px;
  border: none;

  &--border {
    padding: 20px 0;
    border-top: 1px solid $bottomcatalog-hover;
    border-bottom: 1px solid $bottomcatalog-hover;
  }
}

.form__block-button {
  padding: 0 20px;
  margin-bottom: 25px;
}

.form__button {
  border: none;
  margin-bottom: 15px;
}

.form__necessarily {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: $color-text;
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    margin: 0 0 50px;

    &--border {
      margin: 0 auto;
      padding: 0;
      max-width: 624px;
      border: 1px solid $bottomcatalog-hover;
    }
  }

  .form__fieldset-changes {
    margin-bottom: 61px;
  }

  .form__fieldset-wrapper {
    padding: 20px 0;
    width: 620px;

    &--changes-radio {
      width: 565px;
      padding: 32px 35px;
    }
  }

  .form__block-button {
    max-width: 626px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .form__button {
    margin: 0 0 30px;
    width: 244px;
    padding: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    text-transform: uppercase;
  }

  .form__necessarily {
    max-width: 206px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset {
    margin: 0 0 70px;

    &--border {
      min-width: 568px;
      height: 193px;
      padding: 0;
      margin: 0;
      border: 1px solid $bottomcatalog-hover;
    }
  }

  .form__fieldset-changes {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__fieldset-wrapper {
    width: 1220px;

    &--changes-form {
      width: 567px;
      padding: 0;
    }

    &--changes-radio {
      width: 484px;
      padding: 26px 35px;
    }
  }

  .form__block-button {
    max-width: 1220px;
    padding: 20px 120px;
  }

  .form__button {
    width: 512px;
  }

  .form__necessarily {
    margin: 0;
    padding-left: 75px;
  }
}
