.main-nav {
  min-width: 320px;
  position: absolute;
  left: 0;
  z-index: 1;
  background: $main-background;

  &--opened {
    height: 199px;
    width: 100%;
    display: block;
  }

  &--closed {
    display: none;
  }

  &--nojs {
    position: inherit;
    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid $border-light;
}

.main-nav__item:last-child {
  border-bottom: 1px solid $border-light;
}

.main-nav__link {
  padding: 22px 40px 23px;
  display: block;
  color: $color-text;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: static;
    min-width: 453px;
    background: none;

    &--opened {
      width: min-content;
    }

    &--closed {
      display: block;
    }
  }

  .main-nav__list {
    width: 467px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__item {
    font-family: "Oswald","Arial",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 10px 15px 10px 11px;
    border: none;
    position: relative;
  }

  .main-nav__item:last-child {
    border: none;
  }

  .main-nav__link {
    display: flex;
    flex-direction: row;
    padding: 0;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 32px;
        left: 0;
        height: 2px;
        background: $color-bottom;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-width: 480px;
  }

  .main-nav__list {
    width: 481px;
    margin-bottom: 26px;
  }

  .main-nav__item {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 7px 1px 11px 1px;
  }

  .main-nav__link {
    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 37px;
        left: 0;
        height: 2px;
        background: $color-bottom;
      }
    }

    &--index {
      color: $main-background;
    }

    &--index.main-nav__link--active {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 37px;
        left: 0;
        height: 2px;
        background-color: $main-background;
      }
    }
  }
}
