.main-text {
  padding: 0 20px;
  margin: 0 0 20px;
  text-align: left;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .main-text {
    padding: 20px 30px;
    margin: 0 0 82px;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    .main-text {
      padding: 20px 120px;
    }
  }
