.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $main-background;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0 17px 0;
}

.page-header__toggle {
  padding: 10px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 24px;
  height: 16px;
  background: transparent;
  background-image: url("../../img/open-menu.svg");
  background-repeat: no-repeat;
}

.page-header__link-logo:hover {
  opacity: 0.8;
}

.page-header__link-logo:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .page-header__top {
    margin: 0 0 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }

  .page-header {
    margin-bottom: 30px;
    padding-top: 25px;
    width: 708px;
  }

  .page-header__wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0;
    width: 1220px;
    color: $main-background;
    background-color: transparent;
  }

  .page-header__top {
    margin: 0;
    z-index: 1;
  }

  .page-header__wrapper {
    width: 100%;
    padding-top: 51px;
    margin-bottom: 80px;
  }
}
