.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $main-background;
}

.page-header__top {
  background-color: $main-background;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0 15px 0;
}

.page-header__toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  cursor: pointer;
  border: none;
  background-color: $main-background;
}

.page-header__toggle--closed {
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $color-text;
    box-shadow: 0 8px 0 0 $color-text, 0 16px 0 0 $color-text;
    transition: all 0.6s ease 0s;
  }
}

.page-header__toggle--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: $color-text;
    transition: all 0.6s ease 0s;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__link-logo:hover {
  opacity: 0.8;
}

.page-header__link-logo:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .page-header__top {
    margin: 0 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    &--peculiarity {
      margin: 0;
    }
  }

  .page-header {
    margin-bottom: 30px;
    padding-top: 25px;
    width: 708px;
  }

  .page-header__wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo {
    width: 174px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0;
    width: 1220px;
    color: $main-background;
    background-color: transparent;
  }

  .page-header__top {
    margin: 0;
    z-index: 1;
    background-color: transparent;
  }

  .page-header__wrapper {
    width: 100%;
    padding-top: 54px;
    margin-bottom: 83px;
  }

  .page-header__logo {
    width: 202px;
  }
}
