.page-footer {
  background: $background-light;
}

.page-footer__logo {
  text-align: center;
}

.logo__link:hover path {
  fill: $color-text-hover;
}

.logo__link:active path {
  fill: $color-text-active;
}

.social__list {
  margin: 0;
  list-style: none;
  border-top: 1px solid $border-darker;
  border-bottom: 1px solid $border-darker;
}

.social__link {
  &--vkontakte:hover path,
  &--instagram:hover path {
    fill: $color-bottom;
  }

  &--vkontakte:active path,
  &--instagram:active path {
    fill: $color-bottom-active;
  }

  &--facebook:hover path {
    stroke: $color-bottom;
  }

  &--facebook:active path {
    stroke: $color-bottom-active;
  }
}

.copyright__link {
  color: $paragraph-light;
}

.copyright__link:active {
  color: $color-text-active;
}

.copyright__link:hover svg path {
  fill: $color-bottom;
}

.copyright__link:active svg path {
  fill: $color-bottom-active;
}
