.products-list__item {
  padding: 14px 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid $border-light;
}

.products-list__item:last-child {
  border-bottom: 1px solid $border-light;
}

@media (min-width: $tablet-width) {
  .products-list__item {
    padding: 20px;
    width: 669px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid $border-light;
  }
}


@media (min-width: $desktop-width) {
  .products-list__item {
    width: 898px;
    padding: 18px 2px 20px 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $border-light;
  }
}
