.products-item__title {
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: $color-text-title;
}

.products-item__row {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  color: $paragraph-light;
}
