.products-item__title {
  margin: 0 0 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: $color-text-title;
}

.products-item__row {
  margin: 0 0 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  color: $paragraph-light;
}

@media (min-width: $tablet-width) {
  .products-item__row {
    width: 230px;
    text-align: right;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .products-item__cell {
    width: 132px;

    &--price {
      width: 80px;
    }
  }

  .products-item__cell-button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .products-item__title {
    width: 285px;
    margin: 0;
  }

  .products-item__row {
    margin: 0;
    width: 288px;
  }

  .products-item__cell {
    width: 118px;

    &--quantity {
      width: 137px;
      text-align: left;
    }

    &--price {
      width: 44px;
      text-align: left;
    }
  }

  .products-item__cell-button {
    width: 100px;
    padding: 10px 76px;
  }
}
