.program {
  min-width: 320px;
  text-align: center;
  margin-bottom: 22px;
  color: $main-background;
}

.program__content {
  width: 100%;
}

.program__wrapper {
  min-height: 302px;
  background-image: url("../img/background-cat.jpg");
  background-repeat: no-repeat;
  background-color: $background-cat;
  background-position: center;


  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-cat@2x.jpg");
    background-size: 320px auto;
  }
}

.program__title {
  padding-top: 28px;
  margin: 0 0 23px;
  font-family: "Oswald","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

.program__text {
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.program__button {
  left: 0;
  top: 304px;
  position: relative;
}

.program__image {
  margin-top: -135px;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .program {
    position: sticky;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: $color-text;
    text-align: left;
  }

  .program__wrapper {
    width: 536px;
    padding-left: 2px;
    margin: 0 auto;
    background: none;
  }

  .program__title {
    margin: 0 0 41px;
    font-family: "Oswald","Arial",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    color: $color-text;
  }

  .program__text {
    padding-left: 2px;
    margin: 0 0 66px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .program__image {
    margin: 0 0 -101px;
    position: relative;
    left: 0;
    top: -73px;
    z-index: -1;
  }

  .program__button {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding: 11px 19px;
    position: relative;
    left: 4px;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 1220px;
    display: flex;
    flex-direction: column;
    padding-left: 156px;
    color: $color-text;
    text-align: left;
  }

  .program__wrapper {
    margin: 0 0 125px;
  }

  .program__text {
    padding: 0;
    margin: 0 0 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .program__image {
    position: absolute;
    top: -54px;
    left: 526px;
    margin: auto;
  }

  .program__button {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-top: 95px;
    padding: 12px 27px;
    position: relative;
    top: -2px;
    left: 0;
  }
}
