.social__list {
  margin: 0;
  width: 126px;
  padding: 20px 73px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-top: 1px solid $border-darker;
  border-bottom: 1px solid $border-darker;
}

.social__link {
  stroke: $bottom-social;
  fill: $bottom-social;

  &:hover {
    stroke: $color-bottom;
    fill: $color-bottom;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 140px;
    margin: 0;
    padding: 23px 77px;
    border: none;
  }

  .social__icon {
    width: 35px;
    height: 26px;
  }
}
