.button {
  padding: 7px 69px;
  color: $main-background;
  background: $color-bottom;
}

.button:hover {
  background: $color-bottom-hover;
}

.button:active {
  color: $color-text-light;
  background: $color-bottom-hover;
}
