.container {
  display: block;
  width: 280px;
  margin: 0 auto;

  &--circuit {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 320px;
    padding: 0;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 708px;

    &--circuit {
      display: block;
      width: 773px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1220px;

    &--circuit {
      margin: 0 auto;
    }
  }
}
